/* ===============================
   Modal Overlay
   =============================== */

   .modal-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  /* ===============================
     Modal Container
     =============================== */
  
  .modal {
    background: white;
    width: 420px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
  }
  
  /* ===============================
     Modal Header
     =============================== */
  
  .modal-header {
    background-color: var(--color-primary);
    color: rgb(0, 0, 0);
    padding: 14px 18px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .modal-header h2 {
    font-size: 16px;
    font-weight: 700;
  }
  
  .modal-close {
    background: transparent;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  /* ===============================
     Modal Body
     =============================== */
  
  .modal-body {
    padding: 20px;
  }
  
  /* ===============================
     Form Styling
     =============================== */
  
  .modal-form {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  
  .modal-form input {
    padding: 10px 12px;
    font-size: 14px;
    border-radius: 10px;
    border: 1px solid rgb(121, 119, 119);
  }
  
  .modal-form input:focus {
    outline: none;
    border-color: var(--color-primary);
  }
  
  /* ===============================
     Buttons Row
     =============================== */
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 10px;
  }
  
  .modal-actions button {
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .modal-actions button[type="button"] {
    background: transparent;
    border: 1px solid var(--border-color);
  }
  
  .modal-actions button.primary-btn {
    background-color: var(--color-primary);
    color: white;
    border: none;
  }
